
$primary-color: #f57251;
$secondary-color: #38618c;
$tertiary-color: #a13d63;


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
$themes: (
  light: (
    textColor: #000,
    bg: white,
    logo: red,
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: lightgray,
    buttonbg:$tertiary-color,
    hoverBorder:$tertiary-color,
    hoverColor:$tertiary-color,
    shareSpan: $tertiary-color,
  ),
  dark: (
    textColor: whitesmoke,
    bg: #222,
    logo: white,
    bgSoft: #333,
    textColorSoft: lightgray,
    buttonbg:#333,
    hoverBorder:white,
    hoverColor:white,
    shareSpan: white,
    border: #444,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
   @media (max-width: 960px) {
    @content;
  } 
}
@mixin tabletPro {
  @media (max-width: 1200px) {
   @content;
 } 

}