@import "../../styles.scss";

/*  .linkpage{
    height: 100vh;
    background-color:$primary-color;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
     width: 50%;
      display: flex;
      flex-direction: row-reverse;
      background-color: white;
      border-radius: 10px;
      min-height: 600px;
      overflow: hidden;
      h1{
        display: flex;
        
        
      }
       
        
    }
} 
 */
section {
    //width: 100%;
    //max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: $primary-color;


   
}
